/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Karla', 'system-ui', sans-serif;
}

p {
  font-size: 1.25em;
}
