<div *ngIf="editMods">
<label for="moderators">Moderators: </label>
<button (click)="addModerator()">+</button>
<div
  *ngFor="let mod of moderatorArray; index as modIndex"
  style="margin: 10px 5px 10px 5px;"
>
  <div style="display:flex; justify-content: space-around;">
    <div>
      <input name="mod-name" placeholder="Name" type="text" [(ngModel)]="mod.name"/>
    </div>
    <div>
      <input name="mod-topic" placeholder="Topic" type="text" [(ngModel)]="mod.topic"/>
    </div>
    <div style="align-self: flex-end;">
      <button (click)="removeModerator(modIndex)">-</button>
    </div>
  </div>
  
  <hr *ngIf="(modIndex + 1) < moderatorArray.length"/>
</div> <br/>

<label for="participants">Participants: </label>
<button (click)="addParticipant()">+</button>
<div
  *ngFor="let participant of participantArray; index as participantIndex"
  style="margin: 15px 5px 0px 5px;"
>
  <div style="display:flex; justify-content: space-around;">
    <div>
      <input name="participant-name" placeholder="Name" type="text" [(ngModel)]="participant.name"/>
    </div>
    <div style="align-self: flex-end;">
      <button (click)="removeParticipant(participantIndex)">-</button>
    </div>
  </div>
  <hr *ngIf="(participantIndex + 1) < participantArray.length"/>
</div> <br/><br/>

</div>

<button (click)="toggleMods()">{{editMods? 'Hide' : 'Show'}} Mods & Participants</button>
<button
  (click)="nextRound()"
  [disabled]="(moderatorArray.length < 2 || participantArray.length < 4)"
>Next</button>

<br/><hr/><br/>
<div *ngIf="round > 0">
Round {{round}} <br/>
</div>